*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



header{
    width: 100%;
    min-width: 10vw;
}
.baniere{
    width: 100%;
    height: 380px;
    object-fit:cover;
    margin-top: 100px;

}
.logo{
    margin-top: 27px;
    
}
 

    .navstyle a i{
        color: aliceblue;
        font-size: 18px;
        margin-left: 100px;
        
    }


.navstyle{
    display: flex;
    padding: 0 15%;
    padding-right: 20px;
    width: 100%;
    justify-content: space-between;
    height: 130px;
    z-index: 10;
    line-height: 130px;
    position: fixed;
    background-color:black;
}

.navstyle {
    list-style: none;
   margin-right: 1vw;
}


.navstyle a{
    text-decoration: none;
    color: aliceblue;
    font-size: 12.5px;
    text-transform: uppercase;
    font-weight: 500;
}
.navstyle a:hover{
    color: orange;
}

.barre{
    margin: 0 10px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  margin: 50px 195px;
 
}
h1{
    font-size: 32px;
    font-weight:500;
    color: rgb(34, 33, 33);
}

.description{
    display: flex;
    color:rgb(162, 161, 161);
    font-size: small;
    padding-top: 10px;
    padding-bottom: 30px;
  }

  h2{
    font-size: 14.5px;
padding-bottom: 30px;
font-style: italic;
color: rgb(34, 33, 33);
  }

  h3{
    padding-bottom: 50px;
    font-size: 14.5px;
    color:rgb(120, 120, 120);
    font-weight: lighter;
  }

  .plink{
    color: rgb(34, 33, 33);
    font-weight: 500;
    text-decoration: none;
  }
  .plink:hover{
color:orange;
  }
  .anedoct{
    border-left: solid;
   border-color: orange;
   border-width: 2px;
   padding: 10px 0;
   padding-left: 30px;
   line-height: 32px;
   font-size: 15;
   color: rgb(34, 33, 33);
   margin-bottom: 60px;
  }
  
  iframe{
    padding: 30px;
     /* margin-top: 30px; */
  }
  .source{
color: black;
text-align: end;
  }

  .noir{
    color: orange;
  }
  .ciao{
    font-size: 13.5px;
    color:rgb(120, 120, 120);
    font-style: italic;
    font-weight: 300;
  }
.contactbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
  .contact{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    border-top: solid;
    border-width: 0.5px;
    margin-bottom: 0;
    border-color:rgb(230, 227, 227); 
    width: 100%;
    
  }



  #iconcol1:hover{
color:blue
  }
.iconcolr{
    
  }

 .contact #iconcolv:hover{
color: green;
  }
  .borderbottom{
    border-top: solid;
    border-width: 0.5px;
    margin-top: 0;
border-color:rgb(230, 227, 227); ;
padding-bottom: 50px;
width: 1000px;

  }

  .social{
    color: black;
    padding-right: 10px;
  }

  .bottomnav{
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 30px; */
background-color: #f7f7f7;

  }
  .bottomnav .suivant, .precedent{
    display: flex;
    align-items: center;
    
  }

  .bottomnav .suivant, .precedent p{
    padding: 0 10px;
    font-size: 13.5px;
    color:rgb(34, 33, 33);;
    text-transform: uppercase;
    height: 100px;
line-height: 100px;
  }


  footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    /* margin-right: 1vw; */
  }


.mention{
    color: aliceblue;
    font-size: 11px;
  }
.bottomsocial{
    color: aliceblue;
    padding: 5px;
  }

  .gotop a{
background-color: rgba(128, 128, 128, 0.252);
padding: 4px;
border-radius: 2px;
/* margin-left: 100px; */
  }
  .gotop a i{
    color: aliceblue;
padding: 0 5px;
  }

  .notbutton{

  }

  @media (max-width: 768px) {
    .content{
      width: 100vw;
      margin: 0;

    }
    h3{
      width:100vw;
    }
    .baniere{
      /* width: 1400px; */
      
    }
    .barre{
      padding: 0 1px;
    }
    iframe{
      padding: 30px 0;
      width: 550px;
       height: 274px;
    }
  }